<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ITEC</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>

<div class="container">

{% if user.is_authenticated == False %}
<div class="login">
        <h1>ITEC</h1>
        <h2>Вход в систему</h2>
        <form action="" method="POST">
        {% csrf_token %}
        <table>{{ form.as_table }}</table>
        <button style="width: 100%;">Войти</button>
        </form>
</div>
{% endif %}

{% if user.is_authenticated %}
<div class="navbar">
    <div class="navbar-block">
        <a href="{% url 'manager:start_page' %}" class="navbar-logo">ITEC</a>
    </div>
    <div class="navbar-block">
        <a href="#">{{ user.first_name }}</a>
        <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/56/56745.png"
                        height=35px
                        width=35px
                        alt="Аватар"></a>
        <div class="dropdown">
            <button class="dropbtn">
                <a href="#">Профиль</a>
            </button>
            <div class="dropdown-content">
                {% if user.is_superuser %}
                <a href="http://127.0.0.1:8000/admin/">Администрирование</a>
                {% endif %}
                <a href="#">Личный кабинет</a>
                <a href="#">Сообщения</a>
                <a href="{% url 'manager:logout' %}">Выйти</a>
            </div>
        </div>
    </div>
</div>
<div class="container__main">
    <div class="container__menu">
        {% if user.is_superuser or user.is_staff %}
        <a href="{% url 'manager:register_user' %}">Создание пользователя</a>
        {% endif %}
        <a href="#">Группы</a>
        <a href="#">Расписание</a>
        <a href="#">Чат</a>
        <a href="#">Преподаватели</a>
        <a href="#">Лиды</a>
        <a href="#">Контракты</a>
        <a href="#">Новости школы</a>
        <a href="#">Личные данные</a>
        <a href="#">Заказы</a>
        <a href="{% url 'manager:logout' %}">Выход</a>
    </div>
    <div class="main">
        {% block content %}
        {% endblock %}
    </div>
</div>
{% endif %}

</div>

</body>
</html>