body{
    background: #F7F8F3;
    margin: 0 auto;
    padding: 0px;
}

.login {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    background: #F7F8F3;
    position: relative;
    justify-content: flex-start;
    flex-direction: column;
}

.container__main{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.container__menu{
    display: flex;
    flex-direction: column;
    min-height: 95vh;
    background-color: #2F5A53;
}

.container__menu a{
    color: #ffffff;
    text-decoration: none;
    font-size: 17px;
    padding: 10px 10px;
    font-family: monospace;
}

.container__menu a:hover {
    background-color: #1b2e2b;
}

.navbar {
    overflow: hidden;
    display: flex;
    height: 5vh;
    justify-content: space-between;
    background-color: #2F5A53;
    align-items: center;
}

.navbar-block{
    display: flex;
    align-items: center;
}

.navbar-logo{
    color: #ffffff!important;
    font-size: 35px!important;
    font-family: monospace;
}

.navbar a {
    font-size: 18px;
    color: #F8F9E4;
    text-align: center;
    padding: 13px;
    text-decoration: none;
    font-family: monospace;
}

.navbar p {
    font-size: 40px;
    color: #F8F9E4;
    text-align: center;
    padding-left: 13px;
    padding-right: 13px;
    margin: 0;
}

.dropdown {
    position: relative;
}

.dropdown .dropbtn {
    border: none;
    background-color: inherit;
    padding: 0;
    height: 5vh;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #1b2e2b;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #1b2e2b;
    box-shadow: 0px 3px 8px 0px #1b2e2b;
    right: 0px;
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: #F8F9E4;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #071e1b;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.main{
    display: flex;
    width: 100%;
    margin: 15px;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.main_user_info{
    width: 45%;
    border: 2px solid #071e1b;
    margin: 15px;
}

.form{
    display: flex;
    flex-direction: column;
}

.form-content{
    margin: 3px;
}

.form-field{
    width: 100%;
}

.form-help{
    color: #787878;;
}

.form-error{
    color: #dc0000;;
}

